.weatherInfoContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  padding-bottom: 800px;
}

.weatherlocation {
  display: flex;
  flex-direction: column;

  .weatherlocationName {
    font-size: 25px;
    font-weight: 700;
  }
}

.weather {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    }

  &__imageContainer {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > img {
      width: 50%;
      min-width: 200px;
    }

    & > p { 
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__temperature {
    width: 33%;
    display: flex;
    justify-content: center;
    & > p {
      font-size: 30px;
    }
  }


  &__info {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #dee3df;

    &--row {
      width: 200px;
      display: flex;
      justify-content: space-between;
    }

    &--row span{
      font-weight: 700;
      color: #000000;
      margin-right: 15px;
    }

  }
}