@import './components/index.scss';
@import './pages/index.scss';

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: '#000000'
}

html, body, #root {
  height: 100%
}